/* Global Styles */
:root {
  --main-color: #94389b;
  --second-color: #d756b3;
  --light-bg: #fef6e9;
  --dark-color: #291e63;
  --blue-color: #3532aa;
  --yellow-color: #ffb32f;
  --text-color: #3e3e3e;
  --light-text: #ffffff;
  --main-font: "Beiruti", serif;
  --second-font: "Almarai", serif;
  --trans: 0.3s ease;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-color);
  transition: var(--trans);
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: var(--light-bg);
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
a.active,
a:hover {
  color: #94389b;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 12px 24px;
  height: 56px;
  border-radius: 8px;
  gap: 8px;
  white-space: nowrap;
}
img {
  user-select: none;
  width: 100%;
  height: auto;
}
::-webkit-scrollbar {
  width: 12px;
  border-left: 1px solid rgb(221, 221, 221);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 50px;
}
/* Reuseable Classes */
.container {
  padding: 0px 24px;
  margin: 0 auto;
  width: 100%;
  max-width: 1248px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand {
  color: var(--main-color) !important;
  font-weight: inherit;
}
/* Header Styles */
#main-header {
  height: 110px;
  overflow: hidden;
}
#main-header h1,
#main-header .logo {
  line-height: 0;
}
#main-header .logo img {
  width: 89px;
}
.mobile-menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  top: 110px;
  right: 0;
  padding: 24px;
  width: 250px;
  background-color: var(--light-bg);
  height: calc(100vh - 110px);
  border-top: 1px solid #cfcfcf;
  border-radius: 0 0 24px 24px;
  z-index: 999;
  transition: 0.3s ease;
  transform: translateX(250px);
}
.mobile-menu.active {
  transform: translateX(0px);
}
.mobile-menu.active .overlay {
  position: absolute;
  width: calc(100vw - 250px);
  height: 100vh;
  right: 0;
  top: 0;
  margin-right: 250px;
}
.mobile-menu .nav-list,
.mobile-menu .nav-btns {
  flex-direction: column;
}
.mobile-menu .nav-btns button:not(.icon) {
  width: 100% !important;
}
.icons-btns {
  gap: 24px;
  justify-content: space-between;
}
.nav-list {
  gap: 24px;
}

.nav-btns {
  gap: 16px;
}

#main-header button {
  width: 56px;
  border: 1px solid var(--main-color);
  position: relative;
}
#main-header button.icon:hover {
  background-color: var(--main-color);
}
#main-header button.icon:hover svg path {
  fill: var(--light-text);
}
#main-header button.web:hover {
  background-color: var(--main-color);
  color: var(--light-text);
}
#main-header button.web:hover svg path {
  fill: var(--light-text);
}
#main-header button.login:hover {
  background-color: var(--second-color);
}
#main-header button svg {
  width: 24px;
  height: 24px;
}
#main-header button.icon {
  padding: 0;
}
#main-header .menu,
#main-header .cart {
  display: none;
}
@media (max-width: 450px) {
  #main-header .logo img {
    width: 63px;
  }
  #main-header button {
    width: 48px;
    height: 48px;
  }
}
#main-content {
  min-height: calc(100vh - 570px);
  padding-bottom: 96px;
}
@media (max-width: 768px) {
  #main-content {
    min-height: calc(100vh - 790px);
  }
}
.nav-btns .separator {
  height: 37px;
  border-right: 1px solid #ddd;
}

.nav-btns .web {
  width: 173px !important;
  background-color: rgba(228, 147, 234, 0.17);
  color: var(--main-color);
}
.nav-btns .login {
  color: var(--light-text);
  width: 194px !important;
  background-color: var(--main-color);
}
.nav-link {
  font-size: 24px;
}
@media (max-width: 1150px) {
  #main-header .nav-btns.desktop {
    display: none;
  }
  #main-header .menu {
    display: flex;
  }
}
@media (max-width: 600px) {
  #main-nav.desktop {
    display: none;
  }
  #main-header .cart {
    display: flex;
  }
}
/* Hero Section */
#hero-section {
  width: 100%;
}
#hero-section img {
  aspect-ratio: 2 / 1;
}
/* Home Content */
#home-content {
  background-image: url(../images/content-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Categories Section */
.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: flex-start;
  gap: 62px 24px;
  padding-top: 64px;
}
.categories .category {
  position: relative;
}
.categories .category:hover::after {
  animation: updown 1.5s linear infinite;
}
.categories .category::after {
  content: "";
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50%;
  height: 120%;
  left: 0px;
  top: -29%;
}
.categories .category:nth-child(1)::after {
  background-image: url(../images/book-vector.png);
  width: 58%;
  top: -28%;
  left: 15px;
}
.categories .category:nth-child(2)::after {
  background-image: url(../images/bear-vector.png);
  top: -25%;
  top: -28%;
  width: 51%;
}
.categories .category:nth-child(3)::after {
  background-image: url(../images/fire-flame-vector.png);
}
.categories .category .cat-name {
  position: absolute;
  right: 10%;
  top: 40%;
  font-size: 3.34vw;
  color: var(--light-text);
  font-weight: 700;
  z-index: 99;
}
@media (max-width: 820px) {
  .categories {
    grid-template-columns: 1fr 1fr;
  }
  .categories .category .cat-name {
    font-size: 6vw;
  }
}
@media (max-width: 450px) {
  .categories {
    grid-template-columns: 1fr;
  }
  .categories .toys {
    order: -1;
  }
  .categories .category .cat-name {
    font-size: 11vw;
  }
}
/* News Section */
#news {
  margin-top: 93px;
}
.news-content {
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
#news img {
  max-width: 267px;
  display: block;
  margin: auto;
}
#news h2 {
  font-size: 48px;
  font-weight: 700;
}

#news p {
  font-size: 28px;
}
#news a {
  background-color: var(--main-color);
  color: var(--light-text);
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 24px;
  height: 56px;
}
#news a:hover {
  background-color: var(--second-color);
}
@media (max-width: 450px) {
  #news img {
    max-width: 189px;
  }
  #news h2 {
    font-size: 28px;
  }
  #news p {
    font-size: 18px;
  }
  #news a {
    height: 48px;
  }
}
/* Extra Categories */
#extra-cats {
  margin-top: 72px;
  display: grid;
  gap: 140px;
  overflow: hidden;
  padding-bottom: 120px;
}
.extra-cat {
  position: relative;
  gap: 200px;
  text-align: center;
}

.extra-cat .cat-img {
  position: relative;
}
.extra-cat .cat-img::after {
  content: "";
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  animation: rotating-loop 5s linear infinite;
}
.extra-cat:nth-child(1) .cat-img::after {
  background-image: url(../images/icons/pink-circle.svg);
}
.extra-cat:nth-child(2) .cat-img::after {
  background-image: url(../images/icons/orange-circle.svg);
}
.extra-cat:nth-child(3) .cat-img::after {
  background-image: url(../images/icons/purple-circle.svg);
}
.extra-cat img {
  width: 35vw;
  max-width: 472px;
  min-width: 250px;
}
@media (max-width: 1024px) {
  .extra-cat {
    gap: 72px;
  }
}
.extra-cat:nth-of-type(even) {
  direction: ltr;
}
.extra-cat:nth-child(2) .cat-img::before {
  content: "";
  position: absolute;
  background-image: url(../images/happy-boy.png);
  background-repeat: no-repeat;
  background-size: 100%;
  top: -22.5%;
  left: -25%;
  width: 15.5vw;
  max-width: 222px;
  min-width: 99px;
  height: 100%;
  animation: updown 1.5s linear infinite;
}
.extra-cat:nth-child(3) .cat-img::before {
  content: "";
  position: absolute;
  background-image: url(../images/happy-girl.png);
  background-repeat: no-repeat;
  background-size: 100%;
  top: -32%;
  right: -25%;
  width: 15.5vw;
  max-width: 186px;
  min-width: 93px;
  height: 100%;
  animation: updown 1.5s linear infinite;
}
.extra-cat:not(:last-child)::after {
  content: "";
  position: absolute;
  background-image: url(../images/icons/arrow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  top: 70%;
  left: 34%;
  max-width: 426px;
  width: 35vw;
  height: 100%;
}
.extra-cat:nth-of-type(even)::after {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  left: auto;
  right: 33%;
}
.extra-cat h2,
.extra-cat p {
  font-size: 48px;
  font-weight: 700;
}

@media (max-width: 870px) {
  .extra-cat {
    flex-direction: column !important;
  }
  .extra-cat:not(:last-child)::after {
    background-image: url(../images/icons/arrow-mini.svg);
    left: auto;
    right: 100px;
    top: 87%;
    width: 110px;
  }
  .extra-cat:nth-of-type(even)::after {
    left: 100px;
    right: auto;
  }
}
@media (max-width: 650px) {
  .extra-cat:nth-child(2) .cat-img::before {
    left: -29px;
    top: -43px;
  }
  .extra-cat:nth-child(3) .cat-img::before {
    right: -25px;
    top: -75px;
  }
  .extra-cat:not(:last-child)::after {
    right: 0px;
  }
  .extra-cat:nth-of-type(even)::after {
    left: 0px;
  }
}
@media (max-width: 450px) {
  #extra-cats {
    gap: 96px;
    padding-bottom: 48px;
  }
  .extra-cat {
    gap: 24px;
  }
  .extra-cat h2,
  .extra-cat p {
    font-size: 32px;
    text-align: center;
  }
  .extra-cat:not(:last-child)::after {
    width: 70px;
    right: 20px;
  }
  .extra-cat:nth-of-type(even)::after {
    left: 20px;
  }
}
@media (max-width: 350px) {
  .extra-cat img {
    width: 70vw;
    min-width: auto;
  }
  .extra-cat:nth-child(2) .cat-img::before {
    width: 15.5vw;
    top: -60px;
  }
  .extra-cat:nth-child(3) .cat-img::before {
    width: 15.5vw;
    top: -85px;
  }
  .extra-cat:not(:last-child)::after {
    right: 0px;
  }
  .extra-cat:nth-of-type(even)::after {
    left: 0px;
  }
}
/* Social Banner */
#social .social-banner {
  background-image: url(../images/social-banner-desktop-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 48px;
  padding-bottom: 48px;
  min-height: 461px;
  position: relative;
  overflow: hidden;
}
#social .social-banner::before {
  content: "";
  background-image: url(../images/balloons-boy.png);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 16.6666666667%;
  height: 355px;
  right: 130px;
  top: 0;
  transform: translateX(200%);
  transition: 1s ease;
}
#social.showing .social-banner::before,
#social.showing .social-banner::after {
  transform: translateX(0px);
}
#social .social-banner::after {
  content: "";
  background-image: url(../images/balloons-girl.png);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 16.67%;
  height: 355px;
  left: 150px;
  top: 0;
  transform: translateX(-200%);
  transition: 1s ease;
}
#social .social-banner h2 {
  color: var(--blue-color);
  font-size: 48px;
  font-weight: 700;
}
#social .social-banner p {
  font-size: 28px;
}
#social .social-list {
  gap: 32px;
}
#social .social-list a {
  width: 71px;
  height: 71px;
  background-color: var(--light-text);
  border-radius: 50%;
  box-shadow: 0 2px 3px 2px rgb(0 0 0 / 10%);
  transition: 0.3s linear;
}
#social .social-list a:hover {
  rotate: 360deg;
}
#social .social-list img {
  width: 32px;
  height: 32px;
}
@media (max-width: 1024px) {
  #social .social-banner::before {
    right: 24px;
  }
  #social .social-banner::after {
    left: 24px;
  }
}
@media (max-width: 650px) {
  #social .social-banner {
    z-index: 0;
  }
  #social .social-banner::before,
  #social .social-banner::after {
    top: 100px;
    z-index: -1;
  }
}
@media (max-width: 450px) {
  #social .social-banner {
    background-image: url(../images/social-banner-mobile-bg.png);
    background-size: 100%;
    background-position: top;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 220px;
  }
  #social .social-banner::before,
  #social .social-banner::after {
    top: 0px;
    height: 250px;
    width: 25%;
  }
  #social .social-banner::before {
    right: 0px;
  }
  #social .social-banner::after {
    left: 0px;
  }
  #social .social-banner h2 {
    font-size: 24px;
  }
  #social .social-banner p {
    font-size: 16px;
  }
  #social .social-list {
    gap: 8px;
  }
  #social .social-list a {
    width: 40px;
    height: 40px;
  }
  #social .social-list img {
    width: 18px;
    height: 18px;
  }
}

/* Features */
#features .container {
  margin-top: 120px;
  margin-bottom: 120px;
  gap: 150px;
}
.feat {
  flex-direction: column;
  gap: 16px;
}
.feat img {
  max-width: 135px;
}
.feat h2 {
  font-size: 30px;
}
@media (max-width: 1024px) {
  #features .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 850px) {
  #features .container {
    gap: 48px;
  }
  .feat h2 {
    font-size: 24px;
  }
  .feat img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .feat h2 {
    font-size: 20px;
  }
  .feat img {
    max-width: 100px;
  }
}
@media (max-width: 500px) {
  #features .container {
    gap: 24px;
  }
}
@media (max-width: 450px) {
  #features .container {
    flex-wrap: wrap;
    margin-top: 24px;
    margin-bottom: 48px;
  }
  .feat {
    gap: 5px;
  }
  .feat h2 {
    font-size: 13.86px;
  }
  .feat img {
    max-width: 62.7px;
  }
}
/* Footer */
#main-footer {
  position: relative;
}
.footer-content {
  background-image: url(../images/footer-bg.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;
}
.footer-content .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  gap: 48px 24px;
}
.footer-content .col p,
.footer-content .col h3,
.footer-content .col a,
.footer-content .col li {
  color: var(--light-text);
}
.footer-content .col h3 {
  font-size: 24px;
}
.footer-content .col a,
.footer-content .col li {
  font-size: 16px;
  font-weight: 400;
}
.footer-content .col a.active,
.footer-content .col a:hover {
  color: var(--yellow-color);
}
.footer-content .col {
  flex-direction: column;
  align-items: flex-start;
  gap: 19.03px;
}
.footer-content .col p {
  font-size: 16px;
  font-weight: 400;
}
.footer-content .col ul {
  flex-direction: column;
  align-items: flex-start;
  gap: 6.34px;
}

.info-col {
  gap: 16px !important;
  max-width: 176.85px;
  color: var(--light-text);
  font-weight: 400;
  text-align: right;
}
.info-col img {
  width: 100%;
  max-width: 95px;
}
.contact-col {
  max-width: 158.61px;
}
.contact-col li {
  gap: 6.34px;
}
.contact-col li span {
  direction: ltr;
  color: var(--light-text);
}
.contact-col img {
  width: 15.86px;
  height: 15.86px;
}

.footer-content .info-col .social-list {
  gap: 12.69px;
  flex-direction: row;
  margin-top: -8px;
}
.info-col .social-list img {
  width: 20px;
  height: 20px;
}
.footer-copyright {
  background-color: var(--dark-color);
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer-copyright p {
  color: #9b9b9b;
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: 400;
}
.footer-copyright p span {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
@media (max-width: 768px) {
  .footer-content .container {
    grid-template-columns: 1fr 1fr;
  }
  .links-col {
    order: 3;
  }
  .services-col {
    order: 4;
  }
}
@media (max-width: 450px) {
  .footer-content {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .footer-copyright {
    position: relative;
  }
}
@media (max-width: 350px) {
  .footer-copyright p {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  .footer-content .container {
    grid-template-columns: 1fr;
  }
  .col {
    width: 100% !important;
    max-width: 100% !important;
  }
}
/* Products Section */
.products-section {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  margin-top: 96px;
  align-items: flex-start;
  justify-items: center;
}
#product .product-image {
  width: 540px;
  height: 540px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
#product .product-image::before {
  content: "";
  position: absolute;
  background-image: url(../images/product-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  width: 100%;
  height: 100%;
}
#product .product-image::after {
  content: "";
  position: absolute;
  background-image: url(../images/product-frame.png);
  background-size: 100%;
  background-position: center;
  width: 90%;
  height: 90%;
  z-index: -1;
}
#product .product-image span {
  display: block;
  width: 375px;
  position: relative;
}
#product .product-image span::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 20px;
  bottom: 0px;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%);
  background: radial-gradient(#c5c5c5 10%, transparent 70%);
}
#product {
  flex-direction: column;
  gap: 24px;
  height: 100%;
  justify-content: flex-start;
}
#product .product-content {
  display: none;
  max-width: 65%;
}
#product .product-content > * {
  color: #58546c;
  text-align: center;
  display: block;
}
.product-content .product-name {
  font-size: 28px;
  font-weight: 700;
}
.product-content .product-description {
  font-size: 14px;
  font-weight: 400;
}
.product-content .product-price {
  font-size: 18px;
  font-weight: 700;
}
#thums-slider {
  position: relative;
}
.next-thum,
.prev-thum {
  position: absolute;
  top: calc(50%);
  transform: translateY(-50%);
  padding: 8px;
  line-height: 0;
  cursor: pointer;
}
.next-thum.disabled,
.prev-thum.disabled {
  opacity: 30%;
  cursor: not-allowed;
}
.prev-thum {
  right: -36px;
}
.next-thum {
  left: -36px;
}
.next-thum svg,
.prev-thum svg {
  width: 20px;
  height: 20px;
}
.thums {
  gap: 15px;
  translate: 0px;
}
.thums-container {
  overflow: hidden;
}
.thums li {
  display: block;
  width: 52px;
  height: 52px;
  position: relative;
  cursor: pointer;
}
.thums li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffecca99;
  left: 0;
  top: 0;
  transition: var(--trans);
}
.thums li.active::after {
  background-color: transparent;
}
.thums li img {
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.product-btns {
  gap: 10px;
  position: relative;
}
.product-btns button {
  font-size: 24px;
  font-weight: 500;
  gap: 8px;
  border-radius: 8px;
  width: 154px;
}
.product-btns button.cart:hover {
  background-color: var(--second-color);
}
.product-btns button.read:hover {
  background-color: #d756b350;
}
.product-btns .cart {
  background-color: var(--main-color);
  color: var(--light-text);
}
.product-btns .read {
  background-color: var(--light-text);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

/* Products SiderBars */
aside {
  width: 100%;
  height: 100%;
}
.products-list {
  height: 100%;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
  justify-content: flex-start;
}
.right-products .products-list {
  align-items: flex-start;
}
.product-details {
  gap: 8px;
  text-align: right;
  background-color: var(--light-text);
  border-radius: 0 100px 100px 0;
  width: 80%;
  justify-content: flex-start;
  padding: 5px;
  cursor: pointer;
  transition: var(--trans);
}
.product-details:hover {
  background-color: var(--main-color);
}
.product-details.active {
  background: linear-gradient(90deg, #c96ed0 0%, #831f8a 117.51%);
  width: 95%;
  border: 5px solid var(--light-text);
  padding: 10px;
}
.right-products .product-details.active {
  border-inline-start: none !important;
}
.left-products .product-details.active {
  border-inline-end: none !important;
}

.product-details.active *,
.product-details:hover * {
  color: var(--light-text) !important;
}
.product-details.active .product-image {
  border: 4px solid var(--light-text);
}
.product-details.active .product-image {
  width: 122px;
  height: 122px;
}
.product-details.active .product-image span {
  width: 82.28px;
}
.product-details.active .product-name {
  font-size: 28px;
}
.product-details.active .product-description,
.product-details.active .product-price {
  font-size: 16px;
}
.product-details.active .product-text {
  max-width: 250px;
}
.product-details .product-image {
  width: 98px;
  height: 98px;
  padding: 5px;
  background-color: #f0f0f0;
  border: 2px solid var(--light-text);
  border-radius: 50%;
  flex-shrink: 0;
}
.product-details .product-image span {
  display: block;
  width: 64px;
  position: relative;
}
.product-details .product-image span::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 10px;
  bottom: -0px;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%);
  background: radial-gradient(#c5c5c5 10%, transparent 70%);
}

.right-products .product-details {
  flex-direction: row-reverse;
  border-radius: 100px 0 0 100px;
  padding-right: 16px;
}
.product-text {
  min-width: 200px;
  max-width: 230px;
  overflow: hidden;
}
.product-details .product-name {
  font-size: 20px;
  font-weight: 700;
  color: #58546c;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: inherit;
}

.product-details .product-description {
  font-size: 12px;
  font-weight: 400;
  color: #616161;
}
.product-details .product-price {
  font-size: 14px;
  font-weight: 700;
}
@media (min-width: 1025px) and (max-width: 1300px) {
  #product .product-image {
    width: 41.5vw;
    height: 41.5vw;
  }
  #product .product-image span {
    width: 28.8vw;
  }
  .product-details {
    padding: 0.35vw;
  }
  .product-details.active {
    padding: 0.77vw;
  }

  .product-details.active .product-image {
    width: 9.4vw;
    height: 9.4vw;
  }
  .product-details.active .product-image span {
    width: 6.33vw;
  }
  .product-details.active .product-name {
    font-size: 2.16vw;
  }
  .product-details.active .product-description,
  .product-details.active .product-price {
    font-size: 1.23vw;
  }
  .product-details.active .product-text {
    width: 16.46vw;
  }
  .product-details .product-image {
    width: 6.8vw;
    height: 6.8vw;
  }
  .product-details .product-image span {
    width: 4.5vw;
  }

  .product-text {
    min-width: 14.8vw;
  }
  .product-details .product-name {
    font-size: 1.54vw;
  }

  .product-details .product-description {
    font-size: 0.923vw;
  }
  .product-details .product-price {
    font-size: 1.08vw;
  }
}
@media (max-width: 1024px) {
  .right-products .product-details {
    justify-content: space-between;
  }
  .product-details .product-text .product-description {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #product .product-image {
    width: 41.5vw;
    height: 41.5vw;
  }
  #product .product-image span {
    width: 28.8vw;
  }
  .product-details {
    padding: 0.35vw;
  }
  .product-details.active {
    padding: 0.77vw;
  }

  .product-details.active .product-image {
    width: 9.4vw;
    height: 9.4vw;
  }
  .product-details.active .product-image span {
    width: 6.33vw;
  }
  .product-details .product-image {
    width: 6.8vw;
    height: 6.8vw;
  }
  .product-details .product-image span {
    width: 4.5vw;
  }
  .product-details.active .product-name {
    font-size: 20px;
  }
  .product-details.active .product-price {
    font-size: 15px;
  }
  .product-details .product-name {
    font-size: 16px;
  }
  .product-details.active .product-price {
    font-size: 15px;
  }
  .product-details .product-text {
    min-width: auto !important;
  }
}
@media (max-width: 768px) {
  .right-products .product-details {
    justify-content: space-between;
  }
  .products-section {
    grid-template-columns: 25% 50% 25%;
  }
  #product .product-content {
    display: block;
  }
  #product .product-content {
    max-width: 80%;
  }
  .product-content .product-name {
    font-size: 24px;
  }

  .product-details .product-text,
  #thums-slider {
    display: none;
  }
  .product-btns button {
    font-size: 18px;
    width: 120px;
    height: 48px;
  }
  #product .product-image {
    width: 43vw;
    height: 43vw;
  }
  #product .product-image span {
    width: 30vw;
  }
  .product-details.active .product-image {
    width: 80px;
    height: 80px;
  }
  .product-details .product-image {
    width: 70px;
    height: 70px;
  }
  .product-details.active .product-image span,
  .product-details .product-image span {
    width: 80%;
  }
}
@media (max-width: 600px) {
  #product .product-content {
    max-width: 90%;
  }
}
@media (max-width: 475px) {
  .right-products .product-details.active {
    padding-right: 10px !important;
    border-inline-start: 5px solid var(--light-text) !important;
  }
  .left-products .product-details.active {
    border-inline-end: 5px solid var(--light-text) !important;
  }
  .right-products .product-details {
    padding-right: 5px !important;
  }
  .product-details {
    width: auto !important;
    border-radius: 50% !important;
    margin: auto;
  }

  .product-details.active .product-image {
    width: 16vw;
    height: 16vw;
  }
  .product-details .product-image {
    width: 14vw;
    height: 14vw;
  }
  .product-btns {
    flex-wrap: wrap;
  }
  .product-btns button {
    font-size: 12px;
    width: 85px;
    height: 32px;
  }
  .product-btns button img {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 400px) {
  .product-content .product-name {
    font-size: 20px;
  }
  .product-content .product-description {
    font-size: 12px;
  }
  .product-content .product-price {
    font-size: 14px;
  }
}

/* Animations */
.scaling span {
  animation: scaling 0.6s ease;
}
.scaling::before {
  animation: rotating 0.6s ease;
}
@keyframes scaling {
  50% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@keyframes rotating {
  50% {
    rotate: 45deg;
  }
  100% {
    rotate: 0deg;
  }
}
@keyframes rotating-loop {
  to {
    rotate: 360deg;
  }
}
@keyframes updown {
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
